.card {
  margin: 20px;
  padding: 10px;
  width: 240px;
  border: 2px solid #ededed;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-details {
  width: 100%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1px;
  max-width: 11rem;
  height: 100%;
}
.card-img > img {
  width: 100%;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

@media only screen and (max-width: 1150px) {
  .card {
    width: 220px;
    margin: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    width: 42vw;
    padding: 10px 15px;
  }
  .card-img {
    width: 8rem;
    margin-bottom: 0.5rem;
  }
  .card-title {
    font-size: 13px;
    margin-bottom: 0.3rem;
  }

  .card-reviews {
    font-size: 10px;
    margin-bottom: 0.3rem;
  }
  .card-price {
    font-size: 15px;
  }

  .bag-icon {
    margin-right: 15px;
    font-size: 10px;
  }
}
