@media only screen and (max-width: 700px) {
  nav {
    display: flex;
    margin: 0px;
    padding: 10px;
    justify-content: space-between;
  }

  .logo h2 {
    display: none;
    margin: 0;
  }
  .burger-icon {
    display: block;
    margin-left: 10px;
    color: #ffffff;
  }

  input {
    width: 150px;
    border: 2px solid white;
  }
  input:hover {
    border-color: gray;
  }

  .icons-container {
    display: flex;
    gap: 40px;
    margin-right: 50px;
  }
  .nav-icons {
    width: 1.2rem;
    margin-left: 1rem;
  }
}
